<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheet/app.css">
</head>
<body>
        <div class="ui fixed inverted menu">
                <div class="ui container">
                    <div class="header item">
                      <i class="code icon"></i> Blog Site 
                    </div>
                    <a class="item" href="/">Home</a>
                    <a class="item" href="/blogs/new">New Post</a>
                </div>
            </div>
    
    <p>From The header</p>
</body>
</html>




<!-- <html>
    <head>
        <title>Blog App</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/segment.css">
    </head>
    
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item">
                    Blog Site
                </div>
                <a class="item" href="/">Home</a>
                <a class="item" href="/blogs/new">New Post</a>
            </div>
        </div>

<p>From The header</p> -->